body{
  background-color: tomato;
}
.logon-container{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: cross-fade(0.5);

}
.logon-container section.form{
  width: 100%;
  max-width: 350px;
  margin-right: 40px;
}
.logon-container section.form form{
  margin-top: 80px;
}
.logon-container section.form form h1{
  font-size: 35px;
  margin-bottom: 32px;
}


